<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with model: comment, url: [song, comment], local: true do |f| %>
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control mb-3', id: 'js-new-comment-content', row: 4, placeholder: Comment.human_attribute_name(:content) %>
      <%= f.submit t('defaults.post'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>