<div class="container">
  <div class="row">
    <div class="mt-3">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <turbo-frame id="request_form">
          <%= render 'vtuber' %>
        </turbo-frame>
      </div>
    </div>
  </div>
</div>