<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1 class="text-center mb-4">《 VtuberSongSearchの使い方 》</h1>
      <table class="table table-bordered bg-white">
        <tr>
          <td>
            <div class="row gx-lg-5">
              <div class="col-lg-11 col-xxl-11 mx-auto mb-5">
                <div class="card bg-light border-0 h-100">
                  <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                    <h2 class="fs-4 fw-bold my-4">曲の検索をしよう！</h2>
                    <p class="mb-0">Vtuberの名前または曲名で検索することで登録されている曲を表示できます。</p>
                    <br>
                    <%= image_tag("song_search.png", alt: "song_search", class: "guide_image") %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row gx-lg-5">
              <div class="col-lg-11 col-xxl-11 mx-auto mb-5">
                <div class="card bg-light border-0 h-100">
                  <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                    <h2 class="fs-4 fw-bold my-4">ユーザー登録をしよう！</h2>
                    <p class="mb-0">
                      ユーザー登録をすると以下の機能を使用できる様になります。<br>
                      ゲストでのログインをしていただくと曲の検索のみ利用可能です。<br>
                    </p>
                    <br>
                    <p class="mb-2">
                      Vtuber, 曲のリクエスト機能<br>
                      コメント機能<br>
                      お気に入り機能<br>
                    </p>
                    <br>
                    <p class="mb-0">ユーザー登録をするには以下の手順でアカウントを作成してください。</p>
                    <br>
                    <p class="mb-2">
                      1.トップページから「ユーザー登録」ボタンをクリック<br>
                    </p>
                    <%= image_tag("user_registration.png", alt: "user_registration", class: "header_image") %>
                    <br>
                    <p class="mb-2">
                      2.必要事項を入力して「登録」ボタンをクリック
                    </p>
                    <br>
                    <%= image_tag("registration.png", alt: "registration", class: "guide_image") %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row gx-lg-5">
              <div class="col-lg-11 col-xxl-11 mx-auto mb-5">
                <div class="card bg-light border-0 h-100">
                  <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                    <h2 class="fs-4 fw-bold my-4">リクエストをしよう！</h2>
                    <p class="mb-0">
                      Vtuberまたは曲のリクエストをすることができます。<br>
                      リクエストする際にはリクエストしたいVtuberの動画のURLまたはリクエストしたい曲のURLが必要です。<br>
                      Vtuberの名前などは本人のチャンネルからコピーして貼り付けて設定して頂けると助かります。<br>
                      (この機能にはユーザー登録が必要になります。)
                    </p>
                    <%= image_tag("request.png", alt: "request", class: "guide_image") %>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
