<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-6">
        <%= link_to t('defaults.about'), about_path %>
      </div>
      <div class="col-sm-3 col-6">
        <%= link_to t('defaults.terms'), terms_path %>
      </div>
      <div class="col-sm-3 col-6">
        <%= link_to t('defaults.privacy_policy'), privacy_policy_path %>
      </div>
      <div class="col-sm-3 col-6">
        <%= link_to t('defaults.inquiry'), new_inquiry_path %>
      </div>
      <div class="copyright">
          
      </div>
    </div>
  </div>
</footer>