<div class="modal fade" id="turbo-confirm-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="turbo-confirm-modal-message"></div>
      <div class="modal-footer">
        <button class="btn btn-light" data-bs-dismiss="modal">キャンセル</button>
        <button class="btn btn-primary" id="turbo-confirm-modal-confirm-button">OK</button>
      </div>
    </div>
  </div>
</div>